/archive
*/archive
/old
/tmp
/bin
/test
*-orig
*.pyc
*.o
*.d
*.so
*.pcm
*.root
*.log
*.hbook
*.itape
*.evio
*.dat
.*
*.db
*.png
*.pdf
*.out
*.hst
*.x86_64
*.kumacold
last.kumac
*.metafile
*/logs*
*/work*
/work*
public_html
CVS
